.slider h3,
.slider h5 {
    text-shadow: 1px 1px 3px rgba(0,0,0,0,5);
}
.about img{
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-bottom: -20px;
}

.about p{
    color: #acacac;
}
.about h5{
    font-size: 16px;
    margin-top: 50px;
    color: #acacac;
}

.parallax-container {
    height: 240px;
}
.parallax img{
    filter: grayscale(1);
    opacity: 0.5 !important;
}
.parallax a{
    text-align: center;
}
section,footer{
    padding: 20px 0;
}
.services img{
    width: 100px;
    height: 100px;
}
